img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 400px;
    width: 400;
}

.container {
    position: relative;
  }
  
  .black-box {
    position: relative;
    z-index: 1;
    border: 2px solid black;
    height: 100px;
    margin: 30px;
  }
  
  .gray-box {
    position: absolute;
    z-index: 3; /* gray box will be above both green and black box */
    background: lightgray;
    height: 60px;  
    width: 70%;
    left: 50px;
    top: 50px;
  }
  
  .green-box {
    position: absolute;
    z-index: 2; /* green box will be above black box */
    background: lightgreen;
    width: 35%;
    left: 270px;
    top: -15px;
    height: 100px;
  }

  h3 {
    position: absolute;
    bottom: -100px;
  }

  .container1 {
    position: relative;
  }
  
  .black-box1 {
    position: relative;
    border: 2px solid black;
    height: 100px;
    margin: 30px;
  }
  
  .gray-box1 {
    position: absolute;
    background: lightgray;
    height: 60px;  
    width: 70%;
    left: 50px;
    top: 50px;
  }
  
  .green-box1 {
    position: absolute;
    background: lightgreen;
    width: 35%;
    left: 270px;
    top: -15px;
    height: 100px;
  }

  .visible{
    background-color: coral;
    width: 200px;
    height: 65px;
    border: 1px solid;
    overflow: visible;
  }

  .hidden {
    background-color: coral;
    width: 200px;
    height: 65px;
    border: 1px solid black;
    overflow: hidden;
  }

.scroll {
    background-color: coral;
    width: 200px;
    height: 100px;
    border: 1px solid black;
    overflow: scroll;
}

.auto {
    background-color: coral;
    width: 200px;
    height: 65px;
    border: 1px solid black;
    overflow: auto;
  }

  .xy {
    background-color: coral;
    width: 200px;
    height: 65px;
    border: 1px solid black;
    overflow-x: hidden;
    overflow-y: scroll;
  }



